<link rel="icon" type="image/svg+xml" href="{{ "images/favicon.svg" | absURL }}" sizes="any">
<link rel="icon" type="image/png" href="{{ "images/favicon-32x32.png" | absURL }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ "images/favicon-16x16.png" | absURL }}" sizes="16x16">

<link rel="apple-touch-icon" href="{{ "images/apple-touch-icon.png" | absURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | absURL }}">

<link rel="manifest" href="{{ "site.webmanifest" | absURL }}">
<link rel="mask-icon" href="{{ "images/safari-pinned-tab.svg" | absURL }}" color="{{ .Site.Params.mask_icon_color | default "#5bbad5" }}">
